$body-font-family = 'Noto Sans', sans-serif
$header-font-family = 'Delius', serif

h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre
  border: 0
  margin: 0
  padding: 0

main
  display: block // For fuck's sake IE

body
  background-color: #EAF1F4
  font-family: $body-font-family
  font-size: 14px
  line-height: 1.5
  text-rendering: optimizeLegibility

a
  color: #17C1FF
  text-decoration: none

  &:hover
    color: #248CB2

.content-wrap
  margin: 0 auto
  width: 44rem

header.header
  background-color: #516C77
  overflow: auto

  nav
    h1
      font-weight: normal
      margin-top: 0.3rem

      i,
      a
        color: #FFFFFF
        float: left

      i
        font-size: 14rem
        margin-bottom: -0.7rem

        &.fa-square-o
          font-weight: bold

        &.fa-check
          color: #17C1FF
          margin-left: -12rem
          position: relative
          top: -0.5rem
      a
        font-family: $header-font-family
        font-size: 2.4rem
        line-height: 1
        margin-top: 0.55rem
        width: 7rem
        word-spacing: 10rem

    ul
      float: right
      font-size: 1.8rem
      line-height: 1
      list-style-type: none
      margin-top: 1.5rem

      li
        padding-bottom: 0.2rem
        padding-top: 0.2rem

        a
          border: 2px solid #495F67
          border-radius: 1.4rem
          color: #728993
          display: block
          line-height 2.8rem
          text-align: center
          width: 2.8rem

          &:hover
            border-color: #FFFFFF

            .fa-github-alt
              color: #000000

            .fa-twitter
              color: #55ACEE

            .fa-stack-overflow
              color: #F47920

  p.description
    background-color: #495F67
    border-top-left-radius: 0.8rem
    border-top-right-radius: 0.8rem
    clear: both
    color: #9EB7C0
    font-size: 0.8rem
    padding: 0.4rem 0
    text-align: center

main
  background-color: #FEFEFE
  padding: 0.5rem 0 1.2rem 0

  > *
    margin: 0 1rem

  article
    margin-bottom: 1.2rem
    margin-top: 0.5rem

    time
      background-color: #F7FAFC
      border: 1px dotted #C6D5DB
      border-left-width: 0
      color: #516C77
      display: inline-block
      font-size: 0.8rem
      margin-left: -1rem
      padding: 0.2em 0.5em 0.2em 1em
      width: 5.3em

    h2
      font-size: 1.7rem
      font-weight: normal
      line-height: 1.1
      margin: 0.4em 0 0.4em 0

      a
        color: #495F67

    hr
      display: none

    p
      margin-bottom: 0.6em
      margin-top: 0.4em

    blockquote
      background-color: #F7FAFC
      border-left: 4px solid #C6D5DB
      color: #505050
      margin: 1em -1rem
      padding: 0.6em 1.6rem

      .highlight
        background-color: #CBEAF7
        border-radius: 3px
        padding: 0 0.2em

    &.intro
      p:first-child
        margin-bottom: 0.7em

      a.more
        font-size: 0.8rem

        &:not(:hover)
          color: #9EB7C0

        i
          margin-right: 0.4em

    @require prism

footer
  background-color: #516C77
  color: #9EB7C0

  nav.subnav
    float: left
    margin: -1.4rem 0 0 1rem

    a
      font-size: 0.8rem

      &:not(:hover)
        color: #9EB7C0

      i
        margin-right: 0.4em

  a
    color: #DAF5FF

    &:hover
      color: #17C1FF

  > a
    background-color: @background-color
    border-top-left-radius: 0.3rem
    border-top-right-radius: 0.3rem
    float: right
    margin: -1.4rem 0.5rem 0 0
    padding: 0.2rem 0.5rem 0 0.5rem

    &:hover
      color: #F89838

  section
    font-size: 0.7rem
    padding: 0.6rem

    span.bubble
      border-radius: 32px
      display: block
      float: left
      height: 64px
      margin-right: 0.6rem
      overflow: hidden
      width: 64px

    p
      margin-top: 0.45rem

      &:first-child
        margin-top: 0