$code-font-family = 'Consolas', 'Menlo', 'Monaco', monospace

p > code
  background-color: #F7FAFC
  border: 1px dotted #C6D5DB
  color: #505050
  font-family: $code-font-family
  padding: 0 0.2em

pre
  background-color: #F7FAFC
  border: 1px dotted #C6D5DB
  border-left-width: 0
  border-right-width: 0
  color: #505050
  font-family: $code-font-family
  line-height: 1.1em
  margin: 1em -1rem
  overflow-x: auto
  padding: 0.6em 1rem

  .punctuation,
  .operator
    color: #A0A0A0

  .comment
    color: #AEC7C4

  .keyword
    color: #678CB1

  .string
    color: #691DA9

  .number
    color: #4B54FF